<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Security Training Platform</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="../../css/boostrap.min.css">
    <link rel="stylesheet" href="../../css/comments.css"/>
    <!-- JS, Popper.js, and jQuery -->
    <script src="../../javascript/jquery.slim.min.js"></script>
    <script src="../../javascript/popper.min.js"></script>
    <script src="../../javascript/boostrap.min.js"></script>
    <link rel="stylesheet" href="../../css/styles.css"/>
    <script src="../../javascript/script.js"></script>
</head>
<body>

<div id="wrapper" class="toggled">
    <div class="overlay"></div>
    <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <div class="sidebar-header">
                <div class="sidebar-brand">
                    <a href="/index">Home</a></div>
            </div>
            <li><a href="/introduction">Introduction</a></li>
            <li><a href="/injection">Injection</a></li>
            <li><a href="/auth">Broken Authorization</a></li>
            <li><a href="/xss">Cross-site Scripting (XSS)</a></li>
            <li><a href="/xxe">XML External Entity (XML)</a></li>
            <li><a href="/deserialization">Deserialization</a></li>
            <li><a href="/path">Path Traversal</a></li>
        </ul>
    </nav>
    <div id="page-content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1>All personal info</h1>
                    <hr/>
                    <p class="alert alert-info" style="display: none" id="hint">
                        Try to modify url when you are redirected to user info page.
                    </p>
                    <div th:object="${user}">
                        <div class="form-group">
                            <label>Name: </label>
                            <p class="form-control" th:text="${user.name}"></p>
                        </div>
                        <div class="form-group">
                            <label>Email: </label>
                            <p class="form-control" th:text="${user.email}"></p>
                        </div>
                        <div class="form-group">
                            <label>Personal Information</label>
                            <p class="form-control" th:text="${user.personalInformation.get()}"></p>
                        </div>
                    </div>

                    <h3>Products bought</span></h3>
                    <hr/>
                    <table class="table table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col"> Name</th>
                            <th scope="col"> Price</th>
                            <th scope="col"> Description</th>
                            <th scope="col"> Type</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${products.empty}">
                            <td colspan="4"> No Products Available</td>
                        </tr>
                        <tr th:each="product : ${products}">
                            <td><span th:text="${product.name}"> Name </span></td>
                            <td><span th:text="${product.price}"> Price </span></td>
                            <td><span th:text="${product.description.isPresent()} ? ${product.description.get()}"> Description </span>
                            </td>
                            <td><span th:text="${product.type.getDisplay()}"> Type </span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>