<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Security Training Platform</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="../css/boostrap.min.css">
    <link rel="stylesheet" href="../css/comments.css"/>
    <!-- JS, Popper.js, and jQuery -->
    <script src="../javascript/jquery.slim.min.js"></script>
    <script src="../javascript/popper.min.js"></script>
    <script src="../javascript/boostrap.min.js"></script>
    <link rel="stylesheet" href="../../css/styles.css"/>
    <script src="../../javascript/script.js"></script>
</head>
<body>

<div id="wrapper" class="toggled">
    <div class="overlay"></div>
    <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <div class="sidebar-header">
                <div class="sidebar-brand">
                    <a href="/index">Home</a></div>
            </div>
            <li><a href="/introduction">Introduction</a></li>
            <li><a href="/injection">Injection</a></li>
            <li><a href="/auth">Broken Authorization</a></li>
            <li><a href="/xss">Cross-site Scripting (XSS)</a></li>
            <li><a href="/xxe">XML External Entity (XML)</a></li>
            <li><a href="/deserialization">Deserialization</a></li>
            <li><a href="/path">Path Traversal</a></li>
        </ul>
    </nav>
    <div id="page-content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="container">
                        <h2>Search your products by name</h2>
                        <hr />
                        <p class="alert alert-info" style="display: none" id="hint">
                            Try using some special characters for SQL language like ', %, OR, AND and see how page responds
                        </p>
                        <form class="mb-2" th:action="@{/injection/zad1}">
                            <div class="form-row align-items-center">
                                <div class="col-6">
                                    <div class="form-group  mb-2">
                                        <input placeholder="Enter product name" class="form-control" type="text"
                                               th:name="productName"/>
                                    </div>
                                </div>
                                <div class="col-1">
                                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                                </div>
                            </div>
                        </form>
                        <table class="table table-striped table-bordered">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col"> Name</th>
                                <th scope="col"> Price</th>
                                <th scope="col"> Description</th>
                                <th scope="col"> Type</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${products.empty}">
                                <td colspan="4"> No Products Available</td>
                            </tr>
                            <tr th:each="product : ${products}">
                                <td><span th:text="${product.name}"> Name </span></td>
                                <td><span th:text="${product.price}"> Price </span></td>
                                <td><span th:text="${product.description.isPresent()} ? ${product.description.get()}"> Description </span>
                                </td>
                                <td><span th:text="${product.type.getDisplay()}"> Type </span></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="row justify-content-between">
                            <div class="col-auto">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a class="page-link" href="/injection/zad1" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="/injection/zad1">1</a></li>
                                        <li class="page-item"><a class="page-link" href="/injection/zad2">2</a></li>
                                        <li class="page-item"><a class="page-link" href="/injection/zad3">3</a></li>
                                        <li class="page-item"><a class="page-link" href="/injection/zad4">4</a></li>
                                        <li class="page-item"><a class="page-link" href="/injection/zad5">5</a></li>
                                        <li class="page-item"><a class="page-link" href="/injection/zad6">6</a></li>
                                        <li class="page-item"><a class="page-link" href="/injection/zad7">7</a></li>
                                        <li class="page-item"><a class="page-link" href="/injection/os/simple">8</a></li>
                                        <li class="page-item"><a class="page-link" href="/injection/os/blind">9</a></li>
                                        <li class="page-item"><a class="page-link" href="/injection/ssti/simple">10</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="/injection/zad2" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-auto">
                                <button type="button" onclick="showHint()" class="btn btn-primary">Show Hint</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>