<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Security Training Platform</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="../../css/boostrap.min.css">
    <link rel="stylesheet" href="../../css/comments.css" />
    <!-- JS, Popper.js, and jQuery -->
    <script src="../../javascript/jquery.slim.min.js"></script>
    <script src="../../javascript/popper.min.js"></script>
    <script src="../../javascript/boostrap.min.js"></script>
    <link rel="stylesheet" href="../../css/styles.css" />
    <script src="../../javascript/script.js"></script>
    <script src="../../javascript/xml-comment.js"></script>
</head>
<body>

<div id="wrapper" class="toggled">
    <div class="overlay"></div>

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <div class="sidebar-header">
                <div class="sidebar-brand">
                    <a href="/index">Home</a></div>
            </div>
            <li><a href="/introduction">Introduction</a></li>
            <li><a href="/injection">Injection</a></li>
            <li><a href="/auth">Broken Authorization</a></li>
            <li><a href="/xss">Cross-site Scripting (XSS)</a></li>
            <li><a href="/xxe">XML External Entity (XML)</a></li>
            <li><a href="/deserialization">Deserialization</a></li>
            <li><a href="/path">Path Traversal</a></li>
        </ul>
    </nav>
    <div id="page-content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Fighting with haters 2</h2>
                    <p>Admin of the page increased security, but there are deeper problems than that.</p>
                    <hr />
                    <p class="alert alert-info" style="display: none" id="hint">
                        You have to change your token ACL from "USER" to "ADMIN". The secret key is checked this time, check what page response for each request.
                    </p>
                    <div class="d-flex justify-content-between">
                        <h3>JWT Token security</h3>
                        <small>posted 1 year ago by Maria</small>
                    </div>
                    <p>JWT token are great technology, but developer need to be aware how it should be implemented well.</p>
                    <div class="comments-list">
                        <div th:each="comment, iter : ${comments}">
                            <div class="media">
                                <div class="d-flex justify-content-between" style="width: 100%">
                                    <a class="media-left" href="#">
                                        <img th:src="@{${'../../img/' + comment.user + '.jpg/'}}">
                                    </a>
                                    <div class="media-body p-2">

                                        <h4 class="media-heading user_name" th:text="${comment.user}"></h4>
                                        <p th:text="${comment.text}"></p>
                                    </div>
                                    <button  class="media-right custom-button" th:id="${iter.index}" th:onclick="'javascript:removeComment2(' + ${iter.index} + ');'">X</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="error" class="alert alert-danger mt-3" style="visibility: hidden;" role="alert">
                        You don't have access to remove comments
                    </div>
                    <div class="row justify-content-between mt-2">
                        <div class="col-auto">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="/jwt/zad1" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="/auth/zad1">1</a></li>
                                    <li class="page-item"><a class="page-link" href="/auth/zad2">2</a></li>
                                    <li class="page-item"><a class="page-link" href="/auth/zad3">3</a></li>
                                    <li class="page-item"><a class="page-link" href="/auth/zad4">4</a></li>
                                    <li class="page-item"><a class="page-link" href="/auth/zad5">5</a></li>
                                    <li class="page-item"><a class="page-link" href="/auth/zad6">6</a></li>
                                    <li class="page-item"><a class="page-link" href="/auth/zad7">7</a></li>
                                    <li class="page-item"><a class="page-link" href="/auth/zad8">8</a></li>
                                    <li class="page-item"><a class="page-link" href="/jwt/zad1">9</a></li>
                                    <li class="page-item"><a class="page-link" href="/jwt/zad2">10</a></li>
                                    <li class="page-item"><a class="page-link" href="/jwt/zad3">11</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="/jwt/zad3" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-auto">
                            <button type="button" onclick="showHint()" class="btn btn-primary">Show Hint</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html></title>
</head>
<body>

</body>
</html>