<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Security Training Platform</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="../../css/boostrap.min.css">
    <link rel="stylesheet" href="../../css/comments.css"/>
    <!-- JS, Popper.js, and jQuery -->
    <script src="../../javascript/jquery.slim.min.js"></script>
    <script src="../../javascript/popper.min.js"></script>
    <script src="../../javascript/boostrap.min.js"></script>
    <link rel="stylesheet" href="../../css/styles.css"/>
    <script src="../../javascript/script.js"></script>
</head>
<body>

<div id="wrapper" class="toggled">
    <div class="overlay"></div>
    <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <div class="sidebar-header">
                <div class="sidebar-brand">
                    <a href="/index">Home</a></div>
            </div>
            <li><a href="/introduction">Introduction</a></li>
            <li><a href="/injection">Injection</a></li>
            <li><a href="/auth">Broken Authorization</a></li>
            <li><a href="/xss">Cross-site Scripting (XSS)</a></li>
            <li><a href="/xxe">XML External Entity (XML)</a></li>
            <li><a href="/deserialization">Deserialization</a></li>
            <li><a href="/path">Path Traversal</a></li>
        </ul>
    </nav>
    <div id="page-content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="container">
                        <h2>Password recovery form</h2>
                        <hr />
                        <div class="panel-body">
                            <div class="d-flex justify-content-center">
                            <form method="post" action="/auth/zad6/password-question" accept-charset="UTF-8"
                                  role="form">

                                    <div class="form-group">
                                        <input class="form-control" placeholder="email" name="login" type="text">
                                    </div>
                                <div class="d-flex justify-content-center">
                                    <button   class="btn  btn-success btn-block" type="submit">Send password recovery request</button>
                                </div>
                                <div class="form-group">
                                    <div th:if="${notfound != null && !notfound.empty}" th:text="${notfound}"
                                         class="alert alert-danger mt-3" role="alert">
                                    </div>
                                </div>
                                <div class="form-group d-flex justify-content-center">
                                    <div><a href="/auth/zad6">Go back to login form</a></div>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

</body>
</html>