<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Security Training Platform</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="../../css/boostrap.min.css">
    <link rel="stylesheet" href="../../css/comments.css"/>
    <!-- JS, Popper.js, and jQuery -->
    <script src="../../javascript/jquery.slim.min.js"></script>
    <script src="../../javascript/popper.min.js"></script>
    <script src="../../javascript/boostrap.min.js"></script>
    <link rel="stylesheet" href="../../css/styles.css"/>
    <script src="../../javascript/script.js"></script>
</head>
<body>

<div id="wrapper" class="toggled">
    <div class="overlay"></div>
    <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <div class="sidebar-header">
                <div class="sidebar-brand">
                    <a href="/index">Home</a></div>
            </div>
            <li><a href="/introduction">Introduction</a></li>
            <li><a href="/injection">Injection</a></li>
            <li><a href="/auth">Broken Authorization</a></li>
            <li><a href="/xss">Cross-site Scripting (XSS)</a></li>
            <li><a href="/xxe">XML External Entity (XML)</a></li>
            <li><a href="/deserialization">Deserialization</a></li>
            <li><a href="/path">Path Traversal</a></li>
        </ul>
    </nav>
    <div id="page-content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="container">
                        <h2>Answer password recovery question</h2>
                        <hr/>
                        <div class="panel-body">
                            <div class="d-flex justify-content-center">
                                <form method="post" action="/auth/zad6/password-recovery-question"
                                      accept-charset="UTF-8"
                                      role="form">
                                    <div class="form-group">
                                        <label>What is your favorite color?</label>
                                        <input class="form-control" placeholder="Color" name="color" type="text"
                                               value="">
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button class="btn  btn-success btn-block" type="submit">Request password
                                        </button>
                                    </div>
                                    <div class="form-group d-flex justify-content-center">
                                        <div><a href="/auth/zad6">Go back to login form</a></div>
                                    </div>
                                    <div class="form-group">
                                        <div th:if="${error != null && !error.empty}" th:text="${error}"
                                             class="alert alert-danger mt-3" role="alert">

                                        </div>
                                        <div th:if="${password != null && !password.empty}" th:text="${password}"
                                             class="alert alert-success mt-3" role="alert">

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>