<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Security Training Platform</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="../../css/boostrap.min.css">
    <link rel="stylesheet" href="../../css/comments.css"/>
    <!-- JS, Popper.js, and jQuery -->
    <script src="../../javascript/jquery.slim.min.js"></script>
    <script src="../../javascript/popper.min.js"></script>
    <script src="../javascript/boostrap.min.js"></script>
    <link rel="stylesheet" href="../../css/styles.css"/>
    <script src="../../javascript/script.js"></script>
</head>
<body>

<div id="wrapper" class="toggled">
    <div class="overlay"></div>
    <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <div class="sidebar-header">
                <div class="sidebar-brand">
                    <a href="/index">Home</a></div>
            </div>
            <li><a href="/introduction">Introduction</a></li>
            <li><a href="/injection">Injection</a></li>
            <li><a href="/auth">Broken Authorization</a></li>
            <li><a href="/xss">Cross-site Scripting (XSS)</a></li>
            <li><a href="/xxe">XML External Entity (XML)</a></li>
            <li><a href="/deserialization">Deserialization</a></li>
            <li><a href="/path">Path Traversal</a></li>
        </ul>
    </nav>
    <div id="page-content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="container">
                        <h2>Try to log in 7</h2>
                        <hr />
                        <p>You have been sniffing network traffic in local restaurant. Somebody was using unsecured site and you had received this header:</p>
                        <p><b>Authorization: Basic eW91c2hvdWxkOm5vdHVzZWJhc2ljYXV0aA==</b></p>
                        <p class="alert alert-info" style="display: none" id="hint">
                            Check out web how basic authorization works.
                        </p>
                        <div class="panel-body">
                            <div class="d-flex justify-content-center">

                                <form method="post" th:action="@{/auth/zad7/authorize}"
                                      accept-charset="UTF-8" role="form">

                                    <div class="form-group">
                                        <input class="form-control" style="width: 300px;" placeholder="Username" name="login"
                                               type="text">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Password"
                                               name="password" type="password" value="">
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button style="width: 100px; height: 90%" class="btn  btn-success btn-block" type="submit">Log in</button>
                                    </div>
                                    <p th:if="${forbidden != null}" th:text="${forbidden}" class="alert alert-danger mt-2"></p>
                                </form>
                            </div>
                            <div class="row justify-content-between mt-2">
                                <div class="col-auto">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination">
                                            <li class="page-item">
                                                <a class="page-link" href="/auth/zad6" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="/auth/zad1">1</a></li>
                                            <li class="page-item"><a class="page-link" href="/auth/zad2">2</a></li>
                                            <li class="page-item"><a class="page-link" href="/auth/zad3">3</a></li>
                                            <li class="page-item"><a class="page-link" href="/auth/zad4">4</a></li>
                                            <li class="page-item"><a class="page-link" href="/auth/zad5">5</a></li>
                                            <li class="page-item"><a class="page-link" href="/auth/zad6">6</a></li>
                                            <li class="page-item"><a class="page-link" href="/auth/zad7">7</a></li>
                                            <li class="page-item"><a class="page-link" href="/auth/zad8">8</a></li>
                                            <li class="page-item"><a class="page-link" href="/jwt/zad1">9</a></li>
                                            <li class="page-item"><a class="page-link" href="/jwt/zad2">10</a></li>
                                            <li class="page-item"><a class="page-link" href="/jwt/zad3">11</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="/auth/zad8" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="col-auto">
                                    <button type="button" onclick="showHint()" class="btn btn-primary">Show Hint</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>