<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Security Training Platform</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="../css/boostrap.min.css">
    <link rel="stylesheet" href="../css/comments.css"/>
    <!-- JS, Popper.js, and jQuery -->
    <script src="../javascript/jquery.slim.min.js"></script>
    <script src="../javascript/popper.min.js"></script>
    <script src="../javascript/boostrap.min.js"></script>
    <link rel="stylesheet" href="../../css/styles.css"/>
    <script src="../../javascript/script.js"></script>
    <script src="../../javascript/xml-comment.js"></script>
</head>
<body>

<div id="wrapper" class="toggled">
    <div class="overlay"></div>
    <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <div class="sidebar-header">
                <div class="sidebar-brand">
                    <a href="/index">Home</a></div>
            </div>
            <li><a href="/introduction">Introduction</a></li>
            <li><a href="/injection">Injection</a></li>
            <li><a href="/auth">Broken Authorization</a></li>
            <li><a href="/xss">Cross-site Scripting (XSS)</a></li>
            <li><a href="/xxe">XML External Entity (XML)</a></li>
            <li><a href="/deserialization">Deserialization</a></li>
            <li><a href="/path">Path Traversal</a></li>
        </ul>
    </nav>
    <div id="page-content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="container">
                        <h2>Inject your own javascript code in blog below</h2>
                        <hr />
                        <p class="alert alert-info" style="display: none" id="hint">Try what happens if you insert some html tags in your comments.</p>
                                <div class="row justify-content-between">
                                    <div class="col-auto">
                                    <h1>Cross-site scripting </h1>
                                    </div>
                                    <div class="col-auto">
                                    <small>posted 2 years ago by John</small>
                                    </div>
                                </div>
                                <p>Cross-site scripting (XSS) is a type of security vulnerability typically found in web applications. XSS attacks enable attackers to inject client-side scripts into web pages viewed by other users. A cross-site scripting vulnerability may be used by attackers to bypass access controls such as the same-origin policy. Cross-site scripting carried out on websites accounted for roughly 84% of all security vulnerabilities documented by Symantec up until 2007. XSS effects vary in range from petty nuisance to significant security risk, depending on the sensitivity of the data handled by the vulnerable site and the nature of any security mitigation implemented by the site's owner network.</p>
                                <div class="comments-list">
                                    <div th:each="comment, iter : ${comments}">
                                        <div class="media">
                                            <div class="d-flex justify-content-between">
                                                <a class="media-left" href="#">
                                                    <img th:src="@{${'../../img/' + comment.user + '.jpg/'}}">
                                                </a>
                                                <div class="media-body p-2">

                                                    <h4 class="media-heading user_name" th:text="${comment.user}"></h4>
                                                    <p th:utext="${comment.text}"></p>

                                                    <p><small><a href="#">Like</a> - <a href="#">Share</a></small></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>

                                            <div class="card-body">
                                                <div class="container">
                                                <form method="post" th:action="@{/xss/addComment}">
                                                    <div class="row justify-content-between">
                                                        <div class="col-auto">
                                                        <input style="width: 400px;" class="form-control" type="text" placeholder="Type message..." name="value" />
                                                        </div>
                                                        <div class="col-auto">
                                                        <button type="submit" class="btn btn-primary">Add comment</button>
                                                        </div>
                                                    </div>
                                                </form>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-between">
                                        <div class="col-auto">
                                            <nav aria-label="Page navigation example">
                                                <ul class="pagination">
                                                    <li class="page-item">
                                                        <a class="page-link" href="/xss/zad5" aria-label="Previous">
                                                            <span aria-hidden="true">&laquo;</span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                    </li>
                                                    <li class="page-item"><a class="page-link" href="/xss/zad1">1</a></li>
                                                    <li class="page-item"><a class="page-link" href="/xss/zad2">2</a></li>
                                                    <li class="page-item"><a class="page-link" href="/xss/zad3">3</a></li>
                                                    <li class="page-item"><a class="page-link" href="/xss/zad4">4</a></li>
                                                    <li class="page-item"><a class="page-link" href="/xss/zad5">5</a></li>
                                                    <li class="page-item"><a class="page-link" href="/xss/zad6">6</a></li>
                                                    <li class="page-item"><a class="page-link" href="/xss/zad7">7</a></li>
                                                    <li class="page-item"><a class="page-link" href="/xss/zad10">8</a></li>
                                                    <li class="page-item"><a class="page-link" href="/xss/zad8">9</a></li>
                                                    <li class="page-item"><a class="page-link" href="/xss/zad9">10</a></li>
                                                    <li class="page-item">
                                                        <a class="page-link" href="/xss/zad7" aria-label="Next">
                                                            <span aria-hidden="true">&raquo;</span>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" onclick="showHint()" class="btn btn-primary">Show Hint</button>
                                        </div>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>