<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Security Training Platform</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="../../css/boostrap.min.css">
    <link rel="stylesheet" href="../../css/comments.css"/>
    <!-- JS, Popper.js, and jQuery -->
    <script src="../../javascript/jquery.slim.min.js"></script>
    <script src="../../javascript/popper.min.js"></script>
    <script src="../../javascript/boostrap.min.js"></script>
    <link rel="stylesheet" href="../../css/styles.css"/>
    <script src="../../javascript/script.js"></script>
</head>
<body>

<div id="wrapper" class="toggled">
    <div class="overlay"></div>
    <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <div class="sidebar-header">
                <div class="sidebar-brand">
                    <a href="/index">Home</a></div>
            </div>
            <li><a href="/introduction">Introduction</a></li>
            <li><a href="/injection">Injection</a></li>
            <li><a href="/auth">Broken Authorization</a></li>
            <li><a href="/xss">Cross-site Scripting (XSS)</a></li>
            <li><a href="/xxe">XML External Entity (XML)</a></li>
            <li><a href="/deserialization">Deserialization</a></li>
            <li><a href="/path">Path Traversal</a></li>
        </ul>
    </nav>
    <div id="page-content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-lg-offset-2">
                    <h2>DNS Lookup</h2>
                    <hr />
                    <p class="alert alert-info" style="display: none" id="hint">
                        Try use some special characters for commands run in CLI(depend on operating system).
                    </p>
                    <form method="post" th:action="@{/injection/os/simple}">
                        <div class="form-row ">
                            <div class="col">
                                <input placeholder="Place for domain name" class="form-control" type="text" name="ip"/>
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary">Show Domain IP</button>
                            </div>
                        </div>
                    </form>
                    <p th:if="${output == null}">No response.</p>
                    <pre th:if="${output != null}" class="border border-dark mt-2"><code  style="white-space: pre-line;" th:text="${output}"></code></pre>
                    <div class="row justify-content-between">
                        <div class="col-auto">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="/injection/zad7" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="/injection/zad1">1</a></li>
                                    <li class="page-item"><a class="page-link" href="/injection/zad2">2</a></li>
                                    <li class="page-item"><a class="page-link" href="/injection/zad3">3</a></li>
                                    <li class="page-item"><a class="page-link" href="/injection/zad4">4</a></li>
                                    <li class="page-item"><a class="page-link" href="/injection/zad5">5</a></li>
                                    <li class="page-item"><a class="page-link" href="/injection/zad6">6</a></li>
                                    <li class="page-item"><a class="page-link" href="/injection/zad7">7</a></li>
                                    <li class="page-item"><a class="page-link" href="/injection/os/simple">8</a></li>
                                    <li class="page-item"><a class="page-link" href="/injection/os/blind">9</a></li>
                                    <li class="page-item"><a class="page-link" href="/injection/ssti/simple">10</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="/injection/os/blind" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-auto">
                            <button type="button" onclick="showHint()" class="btn btn-primary">Show Hint</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>