.user_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    border-bottom: 1px dotted #564c4c;
    margin-top: 5px;
}

.custom-button {
    height: 25%; line-height: 100%;
    background: transparent;
    align-content: center;
    border: none;
}