<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Security Training Platform</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="../../css/boostrap.min.css">
    <link rel="stylesheet" href="../../css/comments.css"/>
    <!-- JS, Popper.js, and jQuery -->
    <script src="../../javascript/jquery.slim.min.js"></script>
    <script src="../../javascript/popper.min.js"></script>
    <script src="../../javascript/boostrap.min.js"></script>
    <link rel="stylesheet" href="../../css/styles.css"/>
    <script src="../../javascript/script.js"></script>
</head>
<body>
<div id="wrapper" class="toggled">
    <div class="overlay"></div>

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse fixed-top toggled" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <div class="sidebar-header">
                <div class="sidebar-brand">
                    <a href="/index">Home</a></div>
            </div>
            <li><a href="/introduction">Introduction</a></li>
            <li><a href="/injection">Injection</a></li>
            <li><a href="/auth">Broken Authorization</a></li>
            <li><a href="/xss">Cross-site Scripting (XSS)</a></li>
            <li><a href="/xxe">XML External Entity (XML)</a></li>
            <li><a href="/deserialization">Deserialization</a></li>
            <li><a href="/path">Path Traversal</a></li>
        </ul>
    </nav>
    <div id="page-content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1>Server-Side Template Injection</h1>
                    <hr />
                    <h3>What is SSTI?</h3>
                    <p>
                        SSTI is a vulnerability, which exists in project when programmer is trying to put the HTML template
                        together programmatically, then call template engine to parse it. It can lead to <b>RCE(Remote Code Execution)</b>
                    </p>
                    <h3>How to exploit vulnerability?</h3>
                    <p>
                        The methodology of exploiting SSTI is simple, and can be summarized to
                        3 states:
                    </p>
                    <ul>
                        <li><b>Detect</b> - find if site is vulnerable to SSTI. You can achieve that by inserting
                            short snippets of code understandable for temmplate engine. There are a lot of it,
                            so syntax can be different. Typical input samples: ${7*7}, [${7*7}], {7*7}, #{7*7} etc... .
                            Don't stop trying to detect vulnerability if input fields on one page are not vulnerable, because
                            other can be.
                        </li>
                        <li>
                            <b>Identify</b> - After detecting SSTI vulnerability, we have to determine which template engine the site
                            is using. In order to do that, you have to use special expressions, that can lead which engine site is using.
                            For example expression {{7*'7'}} will result 49 in Twig, 7777777 in Jinja2.
                        </li>
                        <li>
                            <b>Exploit</b> - And now time for exploit. SSTI is very serious vulnerability because it can lead
                            to RCE. The typical cause is retrieving some configuration files, executing shell programs.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>