<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Security Training Platform</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="../css/boostrap.min.css">
    <link rel="stylesheet" href="../css/comments.css" />
    <!-- JS, Popper.js, and jQuery -->
    <script src="../javascript/jquery.slim.min.js"></script>
    <script src="../javascript/popper.min.js"></script>
    <script src="../javascript/boostrap.min.js"></script>
    <link rel="stylesheet" href="../../css/styles.css" />
    <script src="../../javascript/script.js"></script>
</head>
<body>

<div id="wrapper" class="toggled">
    <div class="overlay"></div>
    <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <div class="sidebar-header">
                <div class="sidebar-brand">
                    <a href="/index">Home</a></div>
            </div>
            <li><a href="/introduction">Introduction</a></li>
            <li><a href="/injection">Injection</a></li>
            <li><a href="/auth">Broken Authorization</a></li>
            <li><a href="/xss">Cross-site Scripting (XSS)</a></li>
            <li><a href="/xxe">XML External Entity (XML)</a></li>
            <li><a href="/deserialization">Deserialization</a></li>
            <li><a href="/path">Path Traversal</a></li>
        </ul>
    </nav>
    <div id="page-content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Create new product</h2>
                    <hr />
                    <p class="alert alert-info" style="display: none" id="hint">Try to make page load very long in order to detect XXE.</p>
                    <p>Try to achieve remote code execution.</p>
                    <div id="form">
                        <div class="form-group" >
                        <label >Product name</label>
                        <input type="text" class="form-control" id="name" name="name"/>
                        </div>
                        <div class="form-group" >
                            <label >Product price</label>
                        <input type="text" class="form-control" name="price" id="price" />
                        </div>
                        <div class="form-group" >
                            <label >Product description</label>
                        <input type="text" class="form-control" id="description" name="description"/>
                        </div>
                        <div class="form-group" >
                            <label >Product type</label>
                        <select  id="type" class="form-control" name="type">
                            <option th:each="type : ${T(agh.edu.web.security.learning.platform.models.ProductType).values()}"
                                    th:value="${type}" th:text="${type.getDisplay()}"></option>
                        </select>
                        </div>
                        <button class="btn btn-primary" onclick="addProduct()" >Add product</button>
                    </div>
                    <p id="success" style="visibility: hidden">Successfully added record</p>
                    <p id="failure" style="visibility: hidden">Unsuccessfully added record</p>
                    <div class="row justify-content-between">
                        <div class="col-auto">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="/xxe/zad2" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="/xxe/zad2">1</a></li>
                                    <li class="page-item"><a class="page-link" href="/xxe/zad1">2</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="/xxe/zad1" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-auto">
                            <button type="button" onclick="showHint()" class="btn btn-primary">Show Hint</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>