<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Security Training Platform</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="../css/boostrap.min.css">
    <link rel="stylesheet" href="../css/comments.css"/>
    <!-- JS, Popper.js, and jQuery -->
    <script src="../javascript/jquery.slim.min.js"></script>
    <script src="../javascript/popper.min.js"></script>
    <script src="../javascript/boostrap.min.js"></script>
    <link rel="stylesheet" href="../../css/styles.css"/>
    <script src="../../javascript/script.js"></script>
    <script src="../../javascript/xml-comment.js"></script>
</head>
<body>

<div id="wrapper" class="toggled">
    <div class="overlay"></div>
    <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <div class="sidebar-header">
                <div class="sidebar-brand">
                    <a href="/index">Home</a></div>
            </div>
            <li><a href="/introduction">Introduction</a></li>
            <li><a href="/injection">Injection</a></li>
            <li><a href="/auth">Broken Authorization</a></li>
            <li><a href="/xss">Cross-site Scripting (XSS)</a></li>
            <li><a href="/xxe">XML External Entity (XML)</a></li>
            <li><a href="/deserialization">Deserialization</a></li>
            <li><a href="/path">Path Traversal</a></li>
        </ul>
    </nav>
    <div id="page-content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Vulnerable blog</h2>
                    <hr/>
                    <p class="alert alert-info" style="display: none" id="hint">Try to detect if page allows xml
                        DTD.</p>
                    <div class="d-flex justify-content-between">
                        <h1>XXE Injection </h1>
                        <small>posted 2 years ago by John</small>
                    </div>
                    <p>XML external entity injection (also known as XXE) is a web security vulnerability
                        that allows an attacker to interfere with an application's processing of XML data.
                        It often allows an attacker to view files on the application server filesystem, and
                        to interact with any back-end or external systems that the application itself can
                        access.

                        In some situations, an attacker can escalate an XXE attack to compromise the
                        underlying server or other back-end infrastructure, by leveraging the XXE
                        vulnerability to perform server-side request forgery (SSRF) attacks.</p>
                    <div class="comments-list">
                        <div th:each="comment, iter : ${comments}">
                            <div class="media">
                                <div class="d-flex justify-content-between">
                                    <a class="media-left" href="#">
                                        <img th:src="@{${'../../img/' + comment.user + '.jpg/'}}">
                                    </a>
                                    <div class="media-body p-2">

                                        <h4 class="media-heading user_name" th:text="${comment.user}"></h4>
                                        <p th:text="${comment.text}"></p>

                                        <p><small><a href="#">Like</a> - <a href="#">Share</a></small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="container">
                                <div class="row justify-content-start mt-4 mb-4">
                                    <div class="col-auto">
                                        <input style="width: 300px;" class="form-control" id="comment"/>
                                    </div>
                                    <div class="col-auto">
                                        <button onclick="addComment()" class="btn btn-primary">Post
                                            comment
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-auto">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="/xxe/zad2" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="/xxe/zad2">1</a></li>
                                    <li class="page-item"><a class="page-link" href="/xxe/zad1">2</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="/xxe/zad1" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-auto">
                            <button type="button" onclick="showHint()" class="btn btn-primary">Show Hint</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>